@model MKMusicEvents.Models.Event

@{
    ViewBag.Title = "EventInfo";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="event-image" src="@Url.Content(Model.Image)" />
        </div>
        <div class="col-md-6">
            <h1 class="event-title">@Model.Name</h1>

            <p class="event-description">@Model.Description</p>
        </div>
    </div>
</div>
<br />

<script>
    $(document).ready(function () {
        $('.bottom').removeClass('bottom').addClass('fixed-bottom');
    });
</script>